.main-container{
    display:flex;
}
.course-container,.cart-container{
    border: 1px solid lightgray;
    display:flex;
}
.course-details{
    margin: 0 5px;
}
.order-title{
    margin-top: 30px;
    color: chocolate;
}